/node_modules
/public/hot
/public/storage
/public/*.js
/public/js/*
/public/css/*
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.devcontainer/mysql/db/*
/.devcontainer/mysql/mysql-files/*
/.devcontainer/redis/data/*
/.devcontainer/redis/dump.rdb
/.vscode/settings.json
*.crt
*.csr
*.key
